@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:wght@300&display=swap');

*{
    /* overflow-x: hidden; */
    margin: 0 auto;
}

.background{
    /* background-image: url("https://wallpapercave.com/dwp1x/wp4094503.jpg"); */
    background-image: url("https://i.pinimg.com/originals/dc/d7/8d/dcd78d28086a4f57a6e918d8cfb86522.jpg");
    height: 125%;
    width: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    z-index: -1;
    min-width: 250px !important;
}

.img-fluid{
    max-width: 100%;
    height: auto
}
.logo{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 28px;
    margin-left: 5px;
    margin-right: 25px;
    text-shadow:2px 2px 4px #FFF, 4px 4px 4px #111, 6px 6px 4px #222;
}
p > img{
    width: 40px;
    margin-right: 8px;
}
.welcome{
    color: azure;
    font-family: 'Lobster', cursive;
    margin-left: 3%;
    font-size: 5em;
    text-align: center !important;
    transform: rotate(-5deg);
    text-decoration: underline;
    text-shadow:2px 2px 4px #FFF, 4px 4px 4px #111, 6px 6px 4px #222;
} 

.contenido{
    background: rgb(249, 249, 249);
    border: 3px solid rgb(0, 85, 255, 0.7);
	margin: 75px auto;
	padding: 25px 0 0;
	position: relative;
	text-align: center;
	width: 450px;
    height: 400px;
    border-radius: 3%;
}

.contenido:after, .contenido:before{
	background: rgb(249, 249, 249, 0.8);
	border: 2px solid rgb(0, 85, 255, 0.8);
    border-radius: 3%;
	content: "";
	display: block;
	height: 100%;
	left: -15px;
    top: -10px;
	position: absolute;
	width: 100%;
}

.contenido:after{
    transform: rotate(3deg);
	z-index: -1;
    background: rgb(249, 249, 249, 0.7);
}

.contenido:before{
	transform: rotate(-3deg);
	top: 5;
    left: -15;
	z-index: -1;
    border: 1px solid rgb(0, 85, 255,0.9);
    background: rgb(249, 249, 249, 0.5);
}

.contenido form input:focus{
	background-color: #fff;
	border: 1px solid #1c5eed;
	outline: none;
    border-radius: 10px;
    text-align: center;
}

.contenido form input:hover{
    background: rgb(81, 214, 254, 0.3);
    border: 1px solid #1c5eed;
    border-radius: 10px;
}

.btn-login{
    margin-left: 30px;
    padding-bottom: 10px;
    background-color: #C2407F;
    width: 150px;
    height: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

.btn-login:hover{
    background-color: #c91d70;
    border-radius: 30px;
}

.btn-signUp{
    float: right;
    background-color: rgb(59, 223, 114);
    margin-right: 25px;
}

.btn-signUp:hover{
    background-color: rgb(5, 236, 75);
    border-radius: 30px;
}

.formCamp{
    text-align: left;
    margin-left: 25px;
    color: #000000;
    /* margin-bottom: -3px; */
    font-size: 20px;
    font-family: 'Lobster', cursive;
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 1rem !important;
}