<header>
    <section>
        <div style="background-image: url('https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wB7p?ver=837a');
              height: 50vh;" class="img-portada">
            <div class="row" style="background-color: rgb(15, 30, 53, 0.7);">
                <div class="col s6 ">
                    <img src="https://i.ibb.co/mvPGSrB/Agens-Presse.png" alt="Agens-Presse" class="logo">
                </div>
                <div class="col s6 div-buttons">
                    <button class="btn-logout" (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
        
        <div class="flexbox-align">
            <button class="btn-menu" (click)="goToNoticias()"><a>Noticias <i class="material-icons">language</i> </a></button>
            <button class="btn-menu" (click)="goToClima()"><a>Clima <i class="material-icons">cloud_circle</i> </a></button>
            <button class="btn-menu" (click)="goToCripto()"><a>Criptomonedas <i class="material-icons">monetization_on</i> </a></button>
            <button class="btn-menu" (click)="gotoFaq()"><a>FAQ <i class="material-icons">question_answer</i> </a></button>
        </div>
    </section>
</header>


<body>
    <div class="container mt-3">
        <button class="crearNew blue btn" (click)="crearNewButton()" *ngIf="15 >14">Crear noticia</button>
        <!-- <pre>
            {{
                user | json
            }}
        </pre> -->
        <table *ngIf="listOfNoticias.length > 0" class="responsive-table highlight table-hover centered table-responsive">
            <thead class="teal">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Pais</th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let noticia of listOfNoticias">
                    <td>{{noticia.titulo}}</td>
                    <td>{{noticia.descripcion}}</td>
                    <td>{{noticia.categoria}}</td>
                    <td>{{noticia.pais}}</td>
                    <td><button [routerLink]="['/editar-noticia/', noticia._id]" class="btn waves-effect waves-light lime amber darken-1" ><i class="material-icons icons-table">edit</i></button></td>
                    <td><button (click)="deleteNoticias(noticia._id)" class="btn waves-effect waves-light red" ><i class="material-icons icons-table ">delete</i></button></td>
                </tr>
            </tbody>
        </table>
        <h5 class="text-danger mt-3" *ngIf="listOfNoticias.length <= 0">La lista de productos esta vacia</h5>
    </div>
</body>
