<app-navbar></app-navbar>


<body>
    <div class="padre">
        <input type="text" placeholder="Search" (keyup)="searchCoin()" [(ngModel)]="searchText">
    </div>
    
    <div class="container">
        <table class="highlight responsive grey darken-4 ">
            <thead>
                <tr>
                    <th *ngFor="let title of titles">
                        {{title}}
                    </th>
                </tr>
            </thead>
        
            <tbody>
                <tr *ngFor="let coin of filteredCoins; let i = index">
                    <td>{{i+1}}</td>
                    <td>
                        <img [src]="coin.image" alt="{{coin.name}}">
                        <span>{{coin.name}}</span>
                        <span class="text-muted ms-2">{{coin.symbol}}</span>
                    </td>
                    <td>
                        ${{coin.current_price.toLocaleString()}}
                    </td>
                    <td [ngClass]="coin.price_change_percentage_24h > 0 ? 'green-text' : 'red-text'">
                        {{coin.price_change_percentage_24h.toLocaleString()}}
                    </td>
                    <td>
                        {{coin.total_volume.toLocaleString()}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

