@media only screen and (max-width: 992px){
    table.responsive{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative;
    }
    table.responsive td:empty:before{
        content: '\00a0';
    }

    table.responsive th, table.responsive td{
        margin: 0;
        vertical-align: top;
    }
    table.responsive th{
        text-align: left;
    }

    table.responsive thead{
        display: block;
        float: left;
    }

    table.responsive thead tr{
        display: block;
        padding: 0 10px 0 0;
    }

    table.responsive thead tr th::before{
        content: "\00a0";
    }
    table.responsive tbody{
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap
    }

    table.responsive tbody tr{
        display: inline-block;
        vertical-align: top
    }

    table.responsive th{
        display: block;
        text-align: right;
    }

    table.responsive td{
        display: block;
        min-height: 1.25em;
        text-align: left;
    }

    table.responsive tr{
        border-bottom: none;
        padding: 0 10px;
    }

    table.responsive thead{
        border: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.12)
    }
}