<body>
    <div class="background"></div>
    <p class="logo"><img src="http://venamimundo.com/imagenes/animados/Mundo-Fede-02.gif"
            class="only-movil img-fluid">AgensPresse</p>

    <p class="crear">Create an account </p>

    <div class="contenido">
        <form (ngSubmit)="register()" [formGroup]="miFormulario" class="col-12">
            <div class="row container">
                <!-- Correo electronico-->
                <p class="formCamp">Enter your email:</p>
                <div class="input-field col s12">
                    <input formControlName="email" id="email" type="email" class="validate">
                    <label for="email">Email </label>
                    <span class="helper-text" data-error="wrong" data-success="right">email@example.com</span>
                </div>

                <!-- username -->
                <p class="formCamp">Enter your username:</p>
                <div class="input-field col s12">
                    <input formControlName="username" id="username" type="text" class="validate">
                    <label for="username">Username</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Example Name</span>
                </div>

                <!-- password -->
                <p class="formCamp">Enter your password:</p>
                <div class="input-field col s12">
                    <input formControlName="password" id="password" type="password" class="validate">
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Password min lenght 6
                        characters</span>
                </div>

                <!-- Repeat Contraseña -->
                <p class="formCamp">Enter your password again:</p>
                <div class="input-field col s12">
                    <input formControlName="repeatPassword" id="repeat-password" type="password" class="validate">
                    <label for="repeat-password">Repeat Password</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Repeat Password</span>
                </div>
            </div>

            <!--Boton para registrar-->
            <div class="input-field col s12">
                <button class="btn btn-login waves-effect waves-light btn-responsive">Create Account</button>
            </div>

            <!--Boton para iniciar secccion-->
            <div class="input-field col s12">
                <button routerLink="/auth/login" class="btn btn-signUp waves-effect waves-light btn-responsive">Login</button>
            </div>
        </form>
    </div>
</body>